{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["only-warn"],
  "rules": {
    "no-underscore-dangle": [
      "warn",
      {
        "allow": ["_id"]
      }
    ]
  }
}
