.header {
  padding: 18px 14px;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width: 767px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1279px) {
  .header {
    padding: 18px 70px;
  }
}